<!-- <div class="login-wrap">
  <div class="login-html">
    <!-- Sign in/up Tabs -
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
    <label for="tab-1" class="tab">Sign In</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up">
    <label for="tab-2" class="tab">Sign Up</label>
    <div class="login-form">
      <form #loginForm="ngForm"  novalidate class="login-form">
      <div class="sign-in-htm">
        <div class="group">
           <label for="email" class="label">Email:</label>
        <input #email="ngModel" ngModel name="email"  type="email" class="input" required email>
          <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
        <span *ngIf="email.errors?.['required']">Email cannot be blank</span>
        <span *ngIf="email.errors?.['email']">please Enter vaild email</span>
        </div>  
        </div>
        <div class="group">
           <label for="passsword" class="label">Password:</label>
        <input #password="ngModel" name="passsword" ngModel  type="password" class="input " required>
        <div class="alert alert-danger" *ngIf="password.touched">
        <span *ngIf="password.errors?.['required']">Please Enter the password</span>
        </div>  
        </div>
        <div class="group group-inline">
          <input id="keep-signed-in" type="checkbox" class="check" checked>
          <label for="keep-signed-in" class="keep-signed"> <span class="icon"></span> Keep me Signed in</label>
        </div>
        <div class="group">
          <button class="b">Sign In</button>
        </div>
        <div class="hr"></div>
        <div class="foot-lnk">
          <a href="#forgot">Forgot Password?</a>
        </div>
      </div>
    </form>
      <div class="sign-up-htm">
        <div class="group">
          <label for="username" class="label">Username</label>
          <input id="username" type="text" class="input" autocomplete="username" ngModel #username="ngModel" required>
           <div class="alert alert-danger" *ngIf="username.touched">
            <span *ngIf="username.errors?.['required']">Provide the username</span>
            <!-- <span *ngIf="email.errors?.['email']">please Enter vaild email</span> 
        </div>  

        </div>
        <div class="group">
          <label for="newpassword" class="label">Password</label>
          <input id="newpassword" type="password" class="input" autocomplete="new-password" ngModel #newpassword="ngModel" required minlength="8" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
          <div class="alert alert-danger" *ngIf="newpassword.touched && newpassword.invalid">
            <span *ngIf="newpassword.errors?.['required']">Enter the password</span>
            <span *ngIf="!newpassword.errors?.['required'] && !newpassword.errors?.['minlength'] && newpassword.errors?.['pattern']">Must contain at least a letter, a number, and a special character</span>
            <span *ngIf="!newpassword.errors?.['required'] && newpassword.errors?.['minlength']">Enter minum 8 charcters</span>
        </div>  
        </div>
        <div class="group">
        <label for="repassword" class="label">Repeat Password</label>
         <input id="repassword" type="password" class="input" autocomplete="new-password" ngModel #repassword="ngModel" required minlength="8" pattern="new-password.value">
         <div class="alert alert-danger" *ngIf="repassword.touched && repassword.invalid"></div>
         <span *ngIf="repassword.value != newpassword.value">Password incorrect</span>
        </div>
        <div class="group">
            <label for="new_email" class="label">Email Address</label>
        <input #new_email="ngModel" ngModel name="new_email"  type="email" class="input" required email>
          <div class="alert alert-danger" *ngIf="new_email.touched && new_email.invalid">
        <span *ngIf="new_email.errors?.['required']">Email cannot be blank</span>
        <span *ngIf="new_email.errors?.['email']">please Enter vaild email</span>
        </div>
        <div class="group">
          <input type="submit" class="button" value="Sign Up">
        </div>
        <div class="hr"></div>
        <div class="foot-lnk">
          <label for="tab-1">Already Member?</label>
        </div>
      </div>
    </div>
  </div>
</div> -->



<div class="login-wrap">
  <div class="login-html">

    <!-- Tabs -->
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked />
    <label for="tab-1" class="tab">Sign In</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up" />
    <label for="tab-2" class="tab">Sign Up</label>

    <div class="login-form">

      <!-- ---------------- SIGN IN FORM ---------------- -->
      <form #signInForm="ngForm" (ngSubmit)="onSignIn(signInForm)" class="sign-in-htm">

        <div class="group">
          <label class="label">Username</label>
          <input
            type="text"
            class="input"
            name="signinUser"
            [(ngModel)]="signinData.username"
            required
            #signinUser="ngModel"
          />

          <span *ngIf="signinUser.invalid && signinUser.touched" style="color: #ff8080;">
            Username is required
          </span>
        </div>

        <div class="group">
          <label class="label">Password</label>
          <input
            type="password"
            class="input"
            name="signinPass"
            [(ngModel)]="signinData.password"
            required
            minlength="6"
            #signinPass="ngModel"
          />

          <span *ngIf="signinPass.invalid && signinPass.touched" style="color:#ff8080;">
            Password must be at least 6 characters
          </span>
        </div>

        <div class="group">
          <input id="check" type="checkbox" class="check" checked />
          <label for="check">
            <span class="icon"></span> Keep me Signed in
          </label>
        </div>

        <div class="group">
          <button
            class="button"
            type="submit"
            [disabled]="signInForm.invalid"
          >
            Sign In
          </button>
        </div>

        <div class="hr"></div>
        <div class="foot-lnk">
          <a href="#forgot">Forgot Password?</a>
        </div>
      </form>

      <!-- ---------------- SIGN UP FORM ---------------- -->
      <form #signUpForm="ngForm" (ngSubmit)="onSignUp(signUpForm)" class="sign-up-htm">

        <div class="group">
          <label class="label">Username</label>
          <input
            type="text"
            class="input"
            name="signupUser"
            [(ngModel)]="signupData.username"
            required
            #signupUser="ngModel"
          />

          <span *ngIf="signupUser.invalid && signupUser.touched" style="color:#ff8080;">
            Username is required
          </span>
        </div>

        <div class="group">
          <label class="label">Password</label>
          <input
            type="password"
            class="input"
            name="signupPass"
            [(ngModel)]="signupData.password"
            required
            minlength="6"
            #signupPass="ngModel"
          />

          <span *ngIf="signupPass.invalid && signupPass.touched" style="color:#ff8080;">
            Password must be at least 6 characters
          </span>
        </div>

        <div class="group">
          <label class="label">Repeat Password</label>
          <input
            type="password"
            class="input"
            name="signupRepeat"
            [(ngModel)]="signupData.repeatPassword"
            required
            [pattern]="signupData.password"
            #signupRepeat="ngModel"
          />

          <span *ngIf="signupRepeat.invalid && signupRepeat.touched" style="color:#ff8080;">
            Passwords must match
          </span>
        </div>

        <div class="group">
          <label class="label">Email Address</label>
          <input
            type="email"
            class="input"
            name="signupEmail"
            [(ngModel)]="signupData.email"
            required
            email
            #signupEmail="ngModel"
          />

          <span *ngIf="signupEmail.invalid && signupEmail.touched" style="color:#ff8080;">
            Enter a valid email
          </span>
        </div>

        <div class="group">
          <button
            class="button"
            type="submit"
            [disabled]="signUpForm.invalid"
          >
            Sign Up
          </button>
        </div>

        <div class="hr"></div>
        <div class="foot-lnk">
          <label for="tab-1">Already Member?</label>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- import { Component } from '@angular/core';

@Component({
  selector: 'app-login',
  templateUrl: './login.component.html',
  styleUrls: ['./login.component.css']
})
export class LoginComponent {

  // Sign In Model
  signinData = {
    username: '',
    password: ''
  };

  // Sign Up Model
  signupData = {
    username: '',
    password: '',
    repeatPassword: '',
    email: ''
  };

  onSignIn(form: any) {
    if (form.valid) {
      console.log("SIGN IN DATA:", this.signinData);
      alert("Sign In Successful!");
    }
  }

  onSignUp(form: any) {
    if (form.valid) {
      console.log("SIGN UP DATA:", this.signupData);
      alert("Sign Up Successful!");
    }
  }
} -->
